/* google font face */

@font-face {
  font-family: 'Open Sans Light';
  src: local('Open Sans Light'), url('//themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTS3USBnSvpkopQaUR-2r7iU.ttf') format('truetype');
  font-weight:300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('//themes.googleusercontent.com/static/fonts/opensans/v8/IgZJs4-7SA1XX_edsoXWog.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: local('Open Sans Bold'), url('//themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzC3USBnSvpkopQaUR-2r7iU.ttf') format('truetype');
  font-weight:700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Light';
  src: local('Roboto Light'), url('//themes.googleusercontent.com/static/fonts/roboto/v10/dtpHsbgPEm2lVWciJZ0P-A.ttf') format('truetype');
  font-weight:300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('//themes.googleusercontent.com/static/fonts/roboto/v10/W5F8_SL0XFawnjxHGsZjJA.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Bold';
  src: local('Roboto Bold'), url('//themes.googleusercontent.com/static/fonts/roboto/v10/W5F8_SL0XFawnjxHGsZjJA.ttf') format('truetype');
  font-weight:700;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Light';
  src: local('Oswald Light'), url('//themes.googleusercontent.com/static/fonts/oswald/v8/y3tZpCdiRD4oNRRYFcAR5Q.ttf') format('truetype');
  font-weight:300;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald';
  src: local('Oswald'), url('//themes.googleusercontent.com/static/fonts/oswald/v8/uLEd2g2vJglLPfsBF91DCg.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Bold';
  src: local('Oswald Bold'), url('//themes.googleusercontent.com/static/fonts/oswald/v8/7wj8ldV_5Ti37rHa0m1DDw.ttf') format('truetype');
  font-weight:700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato Light';
  src: local('Lato Light'), url('//themes.googleusercontent.com/static/fonts/lato/v7/Ja02qOppOVq9jeRjWekbHg.ttf') format('truetype');
  font-weight:300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('//themes.googleusercontent.com/static/fonts/lato/v7/h7rISIcQapZBpei-sXwIwg.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato Bold';
  src: local('Lato Bold'), url('//themes.googleusercontent.com/static/fonts/lato/v7/iX_QxBBZLhNj5JHlTzHQzg.ttf') format('truetype');
  font-weight:700;
  font-style: normal;
}
@font-face {
  font-family: 'Droid Sans';
  src: local('Droid Sans'), url('//themes.googleusercontent.com/static/fonts/droidsans/v4/rS9BT6-asrfjpkcV3DXf__esZW2xOQ-xsNqO47m55DA.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Droid Sans Bold';
  src: local('Droid Sans Bold'), url('//themes.googleusercontent.com/static/fonts/droidsans/v4/EFpQQyG9GqCrobXxL-KRMQJKKGfqHaYFsRG-T3ceEVo.ttf') format('truetype');
  font-weight:700;
  font-style: normal;
}
@font-face {
  font-family: 'Droid Serif';
  src: local('Droid Serif'), url('//themes.googleusercontent.com/static/fonts/droidserif/v4/DgAtPy6rIVa2Zx3Xh9KaNaCWcynf_cDxXwCLxiixG1c.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Droid Serif Bold';
  src: local('Droid Serif Bold'), url('//themes.googleusercontent.com/static/fonts/droidserif/v4/QQt14e8dY39u-eYBZmppwXe1Pd76Vl7zRpE7NLJQ7XU.ttf') format('truetype');
  font-weight:700;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Light';
  src: local('Raleway Light'), url('//themes.googleusercontent.com/static/fonts/raleway/v7/2VvSZU2kb4DZwFfRM4fLQPesZW2xOQ-xsNqO47m55DA.ttf') format('truetype');
  font-weight:300;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url('//themes.googleusercontent.com/static/fonts/raleway/v7/_dCzxpXzIS3sL-gdJWAP8A.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Bold';
  src: local('Raleway Bold'), url('//themes.googleusercontent.com/static/fonts/raleway/v7/VGEV9-DrblisWOWLbK-1XPesZW2xOQ-xsNqO47m55DA.ttf') format('truetype');
  font-weight:700;
  font-style: normal;
}
@font-face {
  font-family: 'Arimo';
  src: local('Arimo'), url('//themes.googleusercontent.com/static/fonts/arimo/v6/Gpeo80g-5ji2CcyXWnzh7g.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Arimo Bold';
  src: local('Arimo Bold'), url('//themes.googleusercontent.com/static/fonts/arimo/v6/ZItXugREyvV9LnbY_gxAmw.ttf') format('truetype');
  font-weight:700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab Light';
  src: local('Roboto Slab Light'), url('//themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJS9-WlPSxbfiI49GsXo3q0g.ttf') format('truetype');
  font-weight:300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab'), url('//themes.googleusercontent.com/static/fonts/robotoslab/v3/3__ulTNA7unv0UtplybPiqCWcynf_cDxXwCLxiixG1c.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab Bold';
  src: local('Roboto Slab Bold'), url('//themes.googleusercontent.com/static/fonts/robotoslab/v3/dazS1PrQQuCxC3iOAJFEJXe1Pd76Vl7zRpE7NLJQ7XU.ttf') format('truetype');
  font-weight:700;
  font-style: normal;
}
@font-face {
  font-family: 'Lobster';
  src: local('Lobster'), url('//themes.googleusercontent.com/static/fonts/lobster/v8/9LpJGtNuM1D8FAZ2BkJH2Q.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Arvo';
  src: local('Arvo'), url('//themes.googleusercontent.com/static/fonts/arvo/v6/vvWPwz-PlZEwjOOIKqoZzA.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Arvo Bold';
  src: local('Arvo Bold'), url('//themes.googleusercontent.com/static/fonts/arvo/v6/OB3FDST7U38u3OjPK_vvRQ.ttf') format('truetype');
  font-weight:700;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair Display'), url('//themes.googleusercontent.com/static/fonts/playfairdisplay/v8/2NBgzUtEeyB-Xtpr9bm1CV6uyC_qD11hrFQ6EGgTJWI.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display Bold';
  src: local('Playfair Display Bold'), url('//themes.googleusercontent.com/static/fonts/playfairdisplay/v8/UC3ZEjagJi85gF9qFaBgICsv6SrURqJprbhH_C1Mw8w.ttf') format('truetype');
  font-weight:700;
  font-style: normal;
}




@font-face {
  font-family: 'Muli Light';
  src: local('Muli Light'), url('//themes.googleusercontent.com/static/fonts/muli/v5/VJw4F3ZHRAZ7Hmg3nQu5YQ.ttf') format('truetype');
  font-weight:300;
  font-style: normal;
}
@font-face {
  font-family: 'Muli';
  src: local('Muli'), url('//themes.googleusercontent.com/static/fonts/muli/v5/KJiP6KznxbALQgfJcDdPAw.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Pacifico';
  src: local('Pacifico'), url('//themes.googleusercontent.com/static/fonts/pacifico/v5/GIrpeRY1r5CzbfL8r182lw.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Maven Pro';
  src: local('Maven Pro'), url('//themes.googleusercontent.com/static/fonts/mavenpro/v5/sqPJIFG4gqsjl-0q_46Gbw.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Maven Pro Bold';
  src: local('Maven Pro Bold'), url('//themes.googleusercontent.com/static/fonts/mavenpro/v5/uDssvmXgp7Nj3i336k_dSi3USBnSvpkopQaUR-2r7iU.ttf') format('truetype');
  font-weight:700;
  font-style: normal;
}
@font-face {
  font-family: 'Dancing Script';
  src: local('Dancing Script'), url('//themes.googleusercontent.com/static/fonts/dancingscript/v4/DK0eTGXiZjN6yA8zAEyM2RnpV0hQCek3EmWnCPrvGRM.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Dancing Script Bold';
  src: local('Dancing Script Bold'), url('//themes.googleusercontent.com/static/fonts/dancingscript/v4/KGBfwabt0ZRLA5W1ywjowb_dAmXiKjTPGCuO6G2MbfA.ttf') format('truetype');
  font-weight:700;
  font-style: normal;
}
@font-face {
  font-family: 'Poiret One';
  src: local('Poiret One'), url('//themes.googleusercontent.com/static/fonts/poiretone/v2/dWcYed048E5gHGDIt8i1CPesZW2xOQ-xsNqO47m55DA.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Questrial';
  src: local('Questrial'), url('//themes.googleusercontent.com/static/fonts/questrial/v4/MoHHaw_WwNs_hd9ob1zTVw.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilda Display';
  src: local('Gilda Display'), url('//themes.googleusercontent.com/static/fonts/gildadisplay/v2/8yAVUZLLZ3wb7dSsjix0CADHmap7fRWINAsw8-RaxNg.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Josefin Slab Light';
  src: local('Josefin Slab Light'), url('//themes.googleusercontent.com/static/fonts/josefinslab/v4/NbE6ykYuM2IyEwxQxOIi2KcQoVhARpoaILP7amxE_8g.ttf') format('truetype');
  font-weight:300;
  font-style: normal;
}
@font-face {
  font-family: 'Josefin Slab';
  src: local('Josefin Slab'), url('//themes.googleusercontent.com/static/fonts/josefinslab/v4/46aYWdgz-1oFX11flmyEfS3USBnSvpkopQaUR-2r7iU.ttf') format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Josefin Slab Bold';
  src: local('Josefin Slab Bold'), url('//themes.googleusercontent.com/static/fonts/josefinslab/v4/NbE6ykYuM2IyEwxQxOIi2ED2ttfZwueP-QU272T9-k4.ttf') format('truetype');
  font-weight:700;
  font-style: normal;
}