.button, .button.light {
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	padding: .75em 2em;
	border: 1px solid #369;
	border-radius: 3px;
	background: transparent;
	color: #369;
	transition: all 300ms;
	line-height: 1em;
	
	&:hover {
		background: transparent;
		transform: scale(1.02, 1.02);
	}
}