#footer {
	box-sizing: border-box;
	
	&.dark {
		color: #fff;
		a {
			color: #fff;
		}
	}
	
	.copyright {
		box-sizing: border-box;
		width: 100%;
		color: #fff;
		text-align: center;
		padding: 1em;
	}
	
	.footer-social {
		.footer-social-icon {
			margin-left: .5em;
			opacity: .9;
			transition: all 300ms;
			
			&:hover {
				opacity: 1;
				transform: scale(1.1, 1.1) !important; 
			}
			
		}
	}
	
}