.logo { 
	float: left;
	max-width:80%;	
	
	img {
		height: auto;
		width:auto;
		max-width:300px;
		max-height: 60px;
		transition: all 300ms;

		@media screen and (max-width: pem(1200)){
			max-width: 240px;
		}
		 
		@media screen and (max-width: pem(1100)){
			max-height: 50px;
		}

		@media screen and (max-width: pem(600)){
			max-height: 40px;
		}
	}
}

.logged-in {
	#header.sticky {
		top: 32px;
	}
}

#header { 
	position:relative;
	box-sizing: border-box;
	width:100%;
	top:0;
	left:0;
	z-index:9999;
	transition: all 400ms ease-in-out;
	
	&.darken {
		background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,0));
	}
	
	.wrapper {
		padding: 1em;
	}
	
	@media screen and (max-width: 1024px) {
		.wrapper {
			padding: .5em 1em;
		}
		
		.logo {
			img {
				max-height: 40px;
			}
		}
		
		.main-nav {
			margin-top: 10px;
		}		
	}
	
	&.sticky {
		position: fixed;
	}
	
	&.skinny {
		
		.wrapper {
			padding: .5em 1em;
		}
		
		.logo {
			img {
				max-height: 40px;
			}
		}
		
		.main-nav {
			margin-top: 10px;
		}
		
	}
	
}

// handle wpadmin bar
.admin-bar {
	#mobile-nav {
		top:32px;

		@media screen and (max-width: pem(783)){
			top:46px;
		} 
	}

	#wpadminbar {
		position:fixed !important;
	}
}

#drawer-handle {
	display: none;
	text-align: center;
	width: 100%;
	padding: .75em;
	color: rgba(#fff, .5);
	cursor: pointer;
	background: rgba(#333, .9);
	position: relative;
	
	&:after {
		content: '';
		display: block;
		position: absolute;
		border-radius: 0 0 3px 3px;
		background: rgba(#333, .9);
		height: 7px;
		width: 15%;
		left: 0;
		right: 0;
		margin: 0 auto;
		bottom: -7px;
		
	}
	
	@media screen and (max-width: 1024px){
		display: block;
	}
}

.drawer {
	@media screen and (max-width: 1024px){		
		display: none;		
	}
}

.utility-nav {
	
	overflow: hidden;
	width: 100%;
	transition: all 400ms ease-in-out;
	
	.wrapper {
		overflow: hidden;
		padding: .5em 1em !important;
	}
	
	.left {
		float: left;
	}
	
	.right {
		float: right;
		
		@media screen and (max-width: 1024px) {
			li a {
				font-size: 1.2em;
			}	
		}
		
	}
	
	.wrapper {
		padding: .5em 1em;
	}
	
	@media screen and (max-width: 1024px) {
		
		// .utility-nav still fyi
		background: rgba(#333, .9) !important;
		text-align: center;
		
		.left, .right {
			clear: both;
			float: none;
			margin-bottom: 1em;
		}
	}

	li {
		@include ib ();
		margin-left:10px;
		color: #fff;
		font-size: .9em;
		opacity: .9;
		transition: all 300ms;
		
		&:hover {
			opacity: 1;
		}
		
		i {
			transition: all 300ms;
		}
		
		&.social-icon {

			@media screen and (max-width: 1024px) {
				margin-bottom: 1em;
				margin-top: .5em;
				
				i {
					font-size: 1.8em;
				}
				
			}
			
			&:hover {
				i {
					transform: scale(1.2, 1.2);
					box-shadow: 0 0 4px rgba(#000, .5);
				}
			}			
			
		}
		
		&.header-search {
			@media screen and (max-width: 1024px) {
				margin-left: 0;
				width: 100%;
				padding-top: 1.5em;
				border-top: 1px solid rgba(#fff, 1);
				margin-bottom: 1.5em;
				font-size: 1.2em;
				
				.search {
					margin-left: 0 !important;
					.search-input {
						width: 90% !important;
					}
				}
			}			
		}
		
		&.header-email:hover {
			transform: none;
			text-decoration: underline;
		}
		
		&.header-phone:hover, &.header-search:hover {
			opacity: 1;
			transform: none;
			box-shadow: none;
		}
		
		&.header-phone, &.header-email {
			margin-right: 1em;
			
			@media screen and (max-width: 1024px) {
				margin: 0;
				padding: 1em .5em 0;
				width: 50%;
				margin-bottom: 1em;
				font-size: 1em;
			}
			
		}
		
		i {
			display: inline-block;
			margin-right: .5em;
		}


		a {
			font-size: .9em;
			color:#fff;
			transition: all 300ms ease-in-out;
		}

		.search {
			position:relative;
			margin-left:10px;
			
			input {
				border-radius: 1em;
				box-shadow: 0 0 3px rgba(#000, .6) inset;
				border: 1px solid rgba(#fff, .3);
				transition: all 300ms ease-in-out;
				font-size: .9em;
				color: #fff;
				background: #666;				
				padding:4px 40px 4px 4px !important;
				-webkit-appearance: none;
				-moz-appearance: none;
				-ms-appearance: none;
				
				&:hover, &:focus {
					box-shadow: 0 0 3px rgba(#000, .4);	
					border: 1px solid rgba(#fff, .8);
					transform: scale(1.05, 1.05);
				}
				
			}

			#clear {
				display: none !important;
			}

			.search-submit {
				cursor: pointer;
			    position: absolute;
			    top: 0;
			    right: 5px;
			    background: none;
			    color: #424242;
			    border: none;
			}
		}

		&.pipe {
			&:before {
				content: "|";
				margin-right:10px;
				color:#fff;
			}
		}

		&.cart {

			a {
				i {
					position:relative;
					font-size: 1.4em;
					vertical-align: middle;
				}

				.counter {
					position: absolute;
					top: 3px;
					color: #ffffff;
					font-size: 12px;
					right: 0;
					width:21px;
					text-align:center;
				}
			}
		}
	}
}

.main-nav { 
	text-align: right; 
	float: right;
	margin-top:20px;
	display: block;
	clear:right;
	transition: all 400ms ease-in-out;
	
	
	@media screen and (max-width: pem(1200)){
		margin-top:20px;
	}
	 
	@media screen and (max-width: pem($break-to-mobile-nav)){
		width:100%;
		clear:both;
		display: none;
	}
	 
	>ul {

		>li {
			font-size: .9em;
			@include ib();
			position:relative;
			margin-left:3em;
			padding-bottom:10px;

			&:first-child{
				margin-left:0;
			}

			@media screen and (max-width: pem(1200)){
				margin-left:15px;
			}
			 
			@media screen and (max-width: pem($break-to-mobile-nav)){
				display: block;
				text-align: center;
				margin-left:0;
				padding: 10px 0px;
				border-top:1px solid $light-grey;
			}

			&.current-menu-item {
				>a {
					font-weight: 800;
					font-size: 1em;
				}
			}

			a {
				text-transform: uppercase;
				transition: all 300ms ease-in-out;
			}
			 
			&:hover {
				.sub-menu {
					visibility: visible;
					opacity: 1;
					top: 100%;

					@media screen and (max-width: pem($break-to-mobile-nav)){
						display: none;
					}
					 
				}
			}

			>.sub-menu {
				visibility: hidden;
				opacity: 0;
				transition: all 300ms ease-in-out;
				position:absolute;
				top: 50%;
				left: 0;
				z-index:9999;
				text-align: left;
				box-sizing: border-box;
				
				@media screen and (max-width: pem($break-to-mobile-nav)){
					position:static;
					margin-top: 10px;
					margin-bottom: 5px;
					text-align:center;
				}

				.current-menu-item {
					a {
						
					}
				}
				 

				&.nav-shift {
					left: auto;
					right: 0;
					text-align: right;				
				}

				>li {
					padding:0;
					margin:0;

					.sub-menu {
						display: none;
						border-top: none !important;
					}
				}

				a {
					display: block;
					white-space: nowrap;
					color: #fff;
					text-transform: uppercase;
					padding: .5em 1em;
					width:100%;
					min-width: 200px;

					&:hover {
						
					}

					i {
						margin-left:10px;
						float: right;
						font-size: 1.3em;
					}
				}

			}

			.search-box {
				@media screen and (max-width: pem($break-to-mobile-nav)){
					margin: 0 auto;
				}
			}
		}
	}
}

.nav-handle {
	float:right;
	display:none;
	cursor: pointer;
	font-size: 1.5em;
	line-height:1em;
	padding: .5em 0;
	color:#fff;

	@media screen and (max-width: pem($break-to-mobile-nav)){
		display: block;
	}

}

#mobile-nav {
	background: #606163;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	font-style: normal;

	.header {
		.logo-img {
			float: left;
			max-width: 300px;
			max-height:50px;
			height: auto;
			margin: 0 0 20px 20px;
		}

		#close-menu {
			font-size: 1.4em;
			float: right;
			margin-right: 20px;
			cursor: pointer;
		}

		.clearer {
			margin: 0;
			padding: 0;
		}
	}
}

#header-slider, #header-hero {
	
	transition: all 400ms ease-in-out;
	
	&.short, &.medium, &.tall, &.full {
		@media screen and (max-width: 600px) {
			min-height: 0 !important;
		}
	}
	
	#header-overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		transition: all 400ms ease-in-out;
	}
	
	&.default {
		#header-overlay {
			.hero-content {
				&.left {
					left: 0 !important;
				}
			}
		}
	}
	
	@media screen and (max-width: 600px) {
		&.default {
			max-height: 205px !important;
			min-height: 0 !important;
		}
	}
	
	.slick-slide {
		&.tall {
			@media screen and (max-height: 600px) {
				max-height: 400px !important;
				min-height: 300px !important
			}
			@media screen and (max-height: 500px) {
				max-height: 300px !important;
				min-height: 200px !important;
			}
		}
	}
	
	.slide-content, .hero-content {
		
		transition: all 400ms ease-in-out;
		
		@media screen and (max-width: 500px) {
			
			text-align: center;
			
			.slide-footer, .hero-footer {
				text-align: center;
				.button {
					width: 100% !important;
				}
			}
			
			.slide-body, .hero-body {
				h2 {
					font-size: 1.7em !important;
				}
				p {
					font-size: 1em;
				}
			}
		}
		
		@media screen and (max-width: 768px) and (max-height: 600px) {
			.slide-body, .hero-body {
				h2 {
					font-size: 1.4em !important;
				}
				p {
					font-size: .9em !important;
					line-height: 1.2em;
				}
			}
			.slide-footer, .hero-footer {
				.button {
					padding: 1em 1.5em !important;
					font-size: 1em !important;
				}
			}
		}
		
		&.short {
			padding-top: 3em;
			
			@media screen and (max-height: 900px) {
				h2 {
					font-size: 1.5em !important;
				}
			}

		}
		
		&.medium {
			&.top {
				@media screen and (max-width: 1440px) and (max-height: 800px) {
					padding-top: 2em;
				}
			}					
		}
		
		&.dark, &.dark-overlay {
				
			.hero-content-body, .slide-content-body {
				
				color: #fff;
				
			}
			
			.hero-content-footer {
				
				.button {
						background: #fff;
						box-shadow: 0 0 10px rgba(#000, .3);
						border: none;
						font-size: 1.2em;
											
					&.light {
						
					}
					
				}
				
			}
					
		}				
		
		
		&.bottom {
			bottom: 10%;
			top: auto;
			
		}
		
		&.top {
			top: 10%;
			bottom: auto;
		}
		
		&.center {
			left: 0;
			right: 0;
			text-align: center;
			
			.slide-body {
				ul {
					text-align: left;
				}
			}
			
			.slide-footer, .hero-footer {
				.button {
					display: inline-block;
					margin: 0 auto;
					padding: 1em 2em;
				}
			}		
		}
		
		&.left {
			left: 5%;
			right: auto;
			
			.slide-footer, .hero-footer {
				.button {
					float: left;
				}
			}				
			
		}		
		
		&.right {
			left: auto;
			right: 5%;
			
			.slide-footer, .hero-footer {
				.button {
					float: left;
				}
			}					
			
		}
		
		&.middle {
			bottom: auto;
			top: auto;
		}
		

		@media screen and (max-width: 1024px) {
			min-width: 50% !important;
		}

		@media screen and (max-width: 450px) {
			position: absolute !important;
			right: 0 !important;
			left: 0 !important;			
			top: 50% !important;
			transform: translateY(-50%);
			width: auto !important;
		}

		
		&.unboxed {
			
			box-shadow: none;
			background: none !important;
			
			.slide-body {
				padding: 0;
				margin-bottom: 0;
				border-radius: 0;
				background: none !important;
			}
			
			.slide-footer, .hero-footer {
				background: none !important;
				.button {
					display: inline-block;
					padding: 1em 2em;
					width: auto;
					border-color: rgba(#fff, .8);
					color: #fff;
					border-width: .5px;
					font-size: 1.3em;
					box-sizing: border-box;
					border-radius: 8px !important;
					text-transform: uppercase;
					transition: all 300ms;
					
					&:hover {
						box-shadow: 0 0 10px rgba(#000, .3);
						border-color: transparent;
					}
				}	
			}
			
		}
		
	}
}