#header-hero {
	width: 100%;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	transition: all 300ms;
	min-height: 300px;
		
	#header-background-image {
		width: 100%;
		height: auto;
		
		@media screen and (max-width: 1024px) {
			height: 100%;
			width: auto !important;
			min-width: 100%;
			max-width: none !important;
		}			
	}
	
	#header-hero-overlay {
		width: 100%;
		height: 100%;
		position: absolute;
	}
	
	.wrapper {
		overflow: hidden;
		height: 100%;
	}
	
	.hero-content {
		position: absolute;
		margin: auto;
		bottom: 15%;
		z-index: 99;
		width: 50%;
		min-width: 200px;
		transition: all 300ms;
				
		.hero-content-body {
			
		}
		
		.hero-content-footer {
			font-size: 1.1em;
			text-transform: uppercase;
		}
		
	}
	
}