.home {
	#main {
		&.has-splash {
			@media screen and (max-width: pem(600)){
				margin-top:-50px;
			}			
		}
	}
}

.slick-slider {
	position:relative;
	top:0;
	left:0;

	&.has-cover{
		.slick-slide{
			height:550px;

			@media screen and (max-width: pem(900)){
				height:500px;
			}		

			@media screen and (max-width: pem(800)){
				height:450px;
			}		

			@media screen and (max-width: pem(700)){
				height:400px;
			}		

			@media screen and (max-width: pem(600)){
				height:350px;
			}		

			@media screen and (max-width: pem(550)){
				height:300px;
			}		

			@media screen and (max-width: pem(500)){
				height:250px;
			}		

			@media screen and (max-width: pem(400)){
				height:200px;
			}

			&.small{
				margin-top:0;
			}
		}
	}
	
	.slick-slide {

		&:focus{
			outline:0;
		}

		.cover-link{
			width:100%;
			height: 100%;
			display: block;
		}

		&.small{
			margin-top:20px;

			.wrapper{
				display: table;

				.image-wrap{
					width:100%;
					height:100%;
					text-align:center;
					vertical-align: bottom;
					display: table-cell;

					img{
						@include ib();
						border:10px solid $white;
						border-bottom:none;
						vertical-align: bottom;
						margin-bottom:100px;
						max-height: 420px;

						@media screen and (max-width: pem(900)){
							max-height:370px;
						}						

						@media screen and (max-width: pem(800)){
							max-height:320px;
						}						

						@media screen and (max-width: pem(700)){
							max-height:270px;
						}

						@media screen and (max-width: pem(600)){
							margin-bottom:50px;
						}						

						@media screen and (max-width: pem(550)){
							max-height: 220px;
						}						

						@media screen and (max-width: pem(500)){
							max-height: 170px;
						}

						@media screen and (max-width: pem(400)){
							max-height: 120px;
						}
						

					}
					 
				}
			}
		}

		.wrapper {
			position: relative;
			height:100%;
		}
		
		.text {
			position: absolute;
			bottom: 130px;
			left:0;
			width:70%;
			@include rgba($blue, 0.79);
			padding:40px;
			color:$white;
			text-shadow: -1px 1px 3px rgba(0,0,0,0.8);
			@include rem(1.4);
			line-height: 1.2em;

			@media screen and (max-width:pem($break-to-mobile-nav)){
				width:100%;
				padding:20px;
			}

			@media screen and (max-width:pem(750)){	
				@include rem(1);
			}

			@media screen and (max-width: pem(600)){
				bottom:60px;
				padding:10px;
			}
			 

			h1,h2,h3,h4,h5,h6 {
				color:#ffffff;
				@include rem(2.8);

				@media screen and (max-width:pem(750)){
					@include rem(2);
				}

				@media screen and (max-width:pem(550)){
					@include rem(1.6);
				}
			}

			a {
				color:$white;
			}

		}
	}

	.slick-paging-wrap {
		position:absolute;
		bottom:130px;
		left:0;
		width:100%;

		@media screen and (max-width: pem(750)){
			display: none;
		}
		 
		.slick-dots {
			float:right;

			li {
				display: inline;

				button {
					@include ib();
					text-indent:-9999em;
					@include rgba($blue, 0.5);
					border-radius:7px;
					width:14px;
					height:14px;
					margin:0 5px;
					cursor:pointer;
					padding:0;
				}
				
				&.slick-active {
					button{
						@include rgba($blue, 1);
					}	
				}
			}
		}
	}
}


.home-content {
	float:left;
	width:40%;
	margin-bottom:20px;

	@media screen and (max-width:pem($break-to-mobile-nav)){
		padding:20px;
		width:100%;
	}

	@media screen and (max-width:pem(750)){	
		margin-bottom:0;
	}
}

.upcoming-events {
	float:left;
	margin-bottom:20px;
	width:34%;
	margin-left:2%;
	border:1px solid $light-grey;

	@media screen and (max-width:pem($break-to-mobile-nav)){
		width:60%;
		margin-left:0;
	}

	@media screen and (max-width:pem(600)){
		width:100%;
	}

	h3 {
		background:$yellow;
		padding:15px;
		margin:0;
	}

	.events {
		padding:15px;
		background:$white;

		ul {
			li {
				margin-bottom:10px;

				a {
					.date {
						font-family: $bold;
						color:$black;
						float:left;
					}

					.event {
						display: block;
						margin-left:80px;
					}
				}
			}
		}

		.see-more {
			border-top:2px dotted $light-grey;
			padding-top:15px;
			margin-top:15px;
		}
	}
}

.home{
	.sidebar{
		float:left;
		margin-bottom:20px;
		width:22%;
		margin-left: 2%;

		@media screen and (max-width:pem($break-to-mobile-nav)){
			width:36%;
			margin-left:4%;
		}		

		@media screen and (max-width:pem(600)){
			width:100%;
			margin-left:0;
			padding:0 20px;
		}

		.quick-links {
			.heading-strike {
				margin-bottom:10px;

				h5 {
					margin-right:10px;
					text-transform: uppercase;
					color: $black;
					float:left;
				}

				hr {
					display: block;
					border: none;
					border-bottom: 2px dotted $black;
					padding-top:0.4em;
				}
			}

			ul {
				padding-bottom:20px;
				border-bottom:2px dotted $black;
				margin-bottom: 20px;
				padding-left:10px;
			}
		}
	}

}