.mm-menu {
	
	.mm-navbar-top {
		text-transform: uppercase;
		color: #333;
	}
	
	.mm-panels {
		
		.mm-listview {
			display: flex;
			flex-flow: column nowrap;
			height: 100%;
			overflow: hidden;
			
			li {
				position: relative;
				-webkit-box-flex: 1;
				-webkit-flex: 1 1 0;
				-ms-flex: 1 1 0;
				flex: 1 1 0;
				overflow: hidden;
				border-bottom: 1px solid rgba(#000, .1);
				transition: all 300ms;
				
				&:hover {
					background: rgba(#fff, .1);
				}
				
				&:after {
					display: none;
				}
				
				a.mm-next {
					opacity: .7;
					&:hover {
						opacity: 1;
					}
					
					&.mm-fullsubopen {
						background: none;
						
					}
				
					&:after {
						border-color: #fff;
					}
					
				}
				
				a:not(.mm-next) {
					display: block;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					text-transform: uppercase;
					padding: 2em;
					color: #fff;
					width: 100%;
					

					
				}
				
			}
		}
	}
}