.chosen-choices {
	li {
		&:before {
			display: none;
		}
	}
}

.search-results {
	.page-content {
		>h1 {
			margin-bottom: 30px;
			padding-bottom:10px;
			border-bottom:1px solid #ccc;
		}


		>article {
			margin-bottom: 40px;
		}
	}
}

.loop {
	article {
		margin-bottom:30px;
		border-bottom: 1px solid #eee;

		.post-title {
			margin-bottom: 5px;
		}

		.written-by {
			color:#b7b7b7;
			margin-bottom: 10px;
		}
	}
}

.single-event {
	.nes-back-button {
		display: block;
		width: 100%;
		background: #666;
		color: #fff;
		padding: 1em;
		text-align: left;
		float: none;
		border-radius: 0 0 3px;
	}
}

.single-staff {
	.staff-thumb {
		float:left;
		margin-right: 4%;
		max-width: 50%;
		margin-bottom: 2%;

		@media screen and (max-width: pem(400)){
			width:100%;
			max-width: 100%;
			margin-right:0;
		}
	}

	.staff-info {
		@media screen and (max-width: pem(400)){
			clear:left;
			margin:15px 0;
		}
		 
		.email {
			word-break:break-all;
		}
	}
}

.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid $light-grey;

	@media screen and (max-width: pem(450)){
		height:250px;
	}
	 
}

table {
  width: 100%;
  border: 1px solid #eee;
  margin-bottom: 1.5em; }
  table.small-only {
    display: none; }
    @media screen and (max-width: 800px) {
      table.small-only {
        display: table; } }
  table.large-only {
    display: table; }
    @media screen and (max-width: 800px) {
      table.large-only {
        display: none; } }
  table th {
    font-weight: 700;
    padding: 1em;
    background: #eee; }
  table td {
    padding: 1em;
    border: 1px solid #eee;
    border-collapse: collapse; }
  table tbody tr:nth-of-type(odd) {
    background: #fafafa; }
