.woocommerce-page {

	#main {
		
		.button {
			transition: all 300ms;
		}
		
		form.woocommerce-checkout {
			input, textarea, select {
				transition: all 300ms;
				
				&:hover, &:focus, &:active {
					transform: scale(1.03, 1.03);
					box-shadow: 0 0 7px rgba(#666,.2);
				}
				
			}
		}
		
		.shop_table {
			&.cart, &.woocommerce-checkout-review-order-table {
				
				.actions {
					background: #fafafa;
				}
				
				thead {
					th {
						background: #fafafa;
					}
				}
			}
		}
		
		.product.type-product {
			h3 {
				font-size: 1.3em;
				font-weight: 600;
			}
			
			.price {
				font-size: 1.3em;
			}
			
			.star-rating span:before {
				color: gold;
			}
			
		}
		
		.coupon {
			width: 40%;
			padding-top: 3px;
			
			.button {
				float: left;
				transition: all 300ms;
			}
			
			#coupon_code {
				width: auto !important;
				min-width: 200px;
				font-size: 1.2em;
				position: relative;
				top: 2px;
				margin-right: 10px;
			}
		}
		
		.product-category {
			
			background: #eee;
			transition: all 400ms;
			
			&:hover {
				background: #fafafa;
			}
			
			img {
				margin: 0;	
			}
			
			h3 {
				font-size: 1.4em;
				text-align: center;
				text-shadow: 0 1px 0 #fff;
				
						
				.count {
					background: none;
					-webkit-appearance: none;
					-moz-appearance: none;
					-ms-appearance: none;
					color: #ccc;
				}
			}
		}

		.related{
			clear:left;
		}

		.view-cart {
			float:right;
		}

		.woocommerce-breadcrumb{
			padding: .5em;
			background: #666;
			
			a {
				color: #fff;				
				opacity: .7;
				transition: all 300ms;
				
				&:hover {
					opacity: 1;
				}
				
			}
			
		}

		.add_to_cart_button {

			@media screen and (max-width: pem(1200)){
				@include rem(0.55);
			}
		}

		.added_to_cart {
			display: block;

		}

		.actions {
			overflow: hidden;

			.coupon {
				@media screen and (max-width: pem(500)){
					margin:0;
					padding:0;
				}
				 
			}

			.button {
				@media screen and (max-width: pem(600)){
					@include rem(0.8);	
				}

				@media screen and (max-width: pem(500)){
					margin-top:0;
					width:100%;
					padding:15px;
				}
			}

			.input-text {
				@media screen and (max-width: pem(500)){
					margin-bottom:5px;
					padding:5px;
					width:100%;
				}
				 
			}
		}

		#content .quantity input.qty, 
		.quantity input.qty, 
		#content .quantity input.qty, 
		.quantity input.qty,
		#content .quantity .plus, 
		.quantity .plus, 
		#content .quantity .plus, 
		.quantity .plus,
		#content .quantity .minus, 
		.quantity .minus, 
		#content .quantity .minus, 
		.quantity .minus {
			padding:0 !important;
		}

		.woocommerce-error:before, 
		.woocommerce-info:before, 
		.woocommerce-message:before, 
		.woocommerce-error:before,
		.woocommerce-info:before, 
		.woocommerce-message:before {
			padding-top:0;
		}

		#payment {
			li {
				list-style: none;
			}
		}

		.price {
			margin-bottom:7px;
		}
	}
}

/* START Make the cart table responsive */
/* http://css-tricks.com/responsive-data-tables/ */
	@media screen and (max-width: 500px) {

	/* Force table to not be like tables anymore */
	.woocommerce-page table.shop_table,
	.woocommerce-page table.shop_table thead,
	.woocommerce-page table.shop_table tbody,
	.woocommerce-page table.shop_table th,
	.woocommerce-page table.shop_table td,
	.woocommerce-page table.shop_table tr {
	    display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.woocommerce-page table.shop_table thead tr {
	    position: absolute;
	    top: -9999px;
	    left: -9999px;
	}

	.woocommerce-page table.shop_table tr {
	    /*border: 1px solid #d2d3d3; */
	}

	.woocommerce-page table.shop_table td {
	    /* Behave like a "row" */
	    border:0 !important;
	    border-bottom: 1px solid #d2d3d3 !important;
	    position: relative;
	    padding-left: 30% !important;
	}

	.woocommerce-page table.shop_table {
	    border: none;
	}

	.woocommerce-page table.shop_table td.product-spacer {
	    border-color: #FFF;
	    height: 10px;
	}

	.woocommerce-page table.shop_table td:before {
	    /* Now like a table header */
	    position: absolute;
	    /* Top/left values mimic padding */
	    top: 6px;
	    left: 6px;
	    width: 25%;
	    padding-right: 10px;
	    white-space: nowrap;
	}

	/*
	Label the data
	*/
	.woocommerce-page table.shop_table td.product-remove:before {
	    content: "DELETE";
	}

	.woocommerce-page table.shop_table td.product-thumbnail:before {
	    content: "IMAGE";
	}

	.woocommerce-page table.shop_table td.product-name:before {
	    content: "PRODUCT";
	}

	.woocommerce-page table.shop_table td.product-price:before {
	    content: "PRICE";
	}

	.woocommerce-page table.shop_table td.product-quantity:before {
	    content: "QUANTITY";
	}

	.woocommerce-page table.shop_table td.product-subtotal:before {
	    content: "SUBTOTAL";
	}

	.woocommerce-page table.shop_table td.product-total:before {
	    content: "TOTAL";
	}

	.woocommerce .quantity,
	.woocommerce #content .quantity,
	.woocommerce-page .quantity,
	.woocommerce-page #content .quantity {
	    margin: 0;
	}

	.woocommerce-page table.cart td.actions,
	.woocommerce-page #content table.cart td.actions {
	    text-align: left;
	    border:0;
	    padding-left: 6px !important;
	}

	.woocommerce-page table.cart td.actions .button.alt,
	.woocommerce-page #content table.cart td.actions .button.alt {
	    float: left;
	    margin-top: 10px;
	}

	.woocommerce-page table.cart td.actions div,
	.woocommerce-page #content table.cart td.actions div,
	.woocommerce-page table.cart td.actions input,
	.woocommerce-page #content table.cart td.actions input {
	    margin-bottom: 10px;
	}

	.woocommerce-page .cart-collaterals .cart_totals {
	    float: left;
	    width: 100%;
	    text-align: left;
	}

	.woocommerce-page .cart-collaterals .cart_totals th,
	.woocommerce-page .cart-collaterals .cart_totals td {
	    border:0 !important;
	}

	.woocommerce-page .cart-collaterals .cart_totals table tr.cart-subtotal td,
	.woocommerce-page .cart-collaterals .cart_totals table tr.shipping td,
	.woocommerce-page .cart-collaterals .cart_totals table tr.total td {
	    padding-left: 6px !important;
	}

	.woocommerce-page table.shop_table tr.cart-subtotal td,
	.woocommerce-page table.shop_table tr.shipping td,
	.woocommerce-page table.shop_table tr.total td,
	.woocommerce-page table.shop_table.order_details tfoot th,
	.woocommerce-page table.shop_table.order_details tfoot td {
	    padding-left: 6px !important;
	    border:0 !important;
	}

	.woocommerce-page table.shop_table tbody {
	    padding-top: 10px;
	}

	.woocommerce .col2-set .col-1,
	.woocommerce-page .col2-set .col-1,
	.woocommerce .col2-set .col-2,
	.woocommerce-page .col2-set .col-2,
	.woocommerce form .form-row-first,
	.woocommerce form .form-row-last,
	.woocommerce-page form .form-row-first,
	.woocommerce-page form .form-row-last {
	    float: none;
	    width: 100%;
	}

	.woocommerce .order_details ul,
	.woocommerce-page .order_details ul,
	.woocommerce .order_details,
	.woocommerce-page .order_details {
	    padding:0;
	}

	.woocommerce .order_details li,
	.woocommerce-page .order_details li {
	    clear: left;
	    margin-bottom: 10px;
	    border:0;
	}

	/* make buttons full width, text wide anyway, improves effectiveness */
	#content table.cart td.actions .button,
	.woocommerce #content table.cart td.actions .input-text,
	.woocommerce #content table.cart td.actions input,
	.woocommerce table.cart td.actions .button,
	.woocommerce table.cart td.actions .input-text,
	.woocommerce table.cart td.actions input,
	.woocommerce-page #content table.cart td.actions .button,
	.woocommerce-page #content table.cart td.actions .input-text,
	.woocommerce-page #content table.cart td.actions input,
	.woocommerce-page table.cart td.actions .button,
	.woocommerce-page table.cart td.actions .input-text,
	.woocommerce-page table.cart td.actions input {
	    width: 100%;
	}

	/* keep coupon at 50% */
	#content table.cart td.actions .coupon .button,
	.woocommerce #content table.cart td.actions .coupon .input-text,
	.woocommerce #content table.cart td.actions .coupon input,
	.woocommerce table.cart td.actions .coupon .button,
	.woocommerce table.cart td.actions .coupon .input-text,
	.woocommerce table.cart td.actions .coupon input,
	.woocommerce-page #content table.cart td.actions .coupon .button,
	.woocommerce-page #content table.cart td.actions .coupon .input-text,
	.woocommerce-page #content table.cart td.actions .coupon input,
	.woocommerce-page table.cart td.actions .coupon .button,
	.woocommerce-page table.cart td.actions .coupon .input-text,
	.woocommerce-page table.cart td.actions .coupon input {
	    width: 48%;
	}

	/* clean up how coupon inputs display */
	#content table.cart td.actions .coupon,
	.woocommerce table.cart td.actions .coupon,
	.woocommerce-page #content table.cart td.actions .coupon,
	.woocommerce-page table.cart td.actions .coupon {
	    margin-top: 1.5em;
	}

	#content table.cart td.actions .coupon .input-text,
	.woocommerce table.cart td.actions .coupon .input-text,
	.woocommerce-page #content table.cart td.actions .coupon .input-text,
	.woocommerce-page table.cart td.actions .coupon .input-text {
	    margin-bottom: 1em;
	}

	/* remove cross sells, they interfere with flow between cart and cart totals + shipping calculator */
/*
	.woocommerce .cart-collaterals .cross-sells,
	.woocommerce-page .cart-collaterals .cross-sells {
	    display: none;
	}
*/

}
/* END Make the cart table responsive */